[2022-11-02 13:29] steida commented on #308
It looks like a ref is missing in types.

<img width="956" alt="Screenshot 2022-11-02 at 14 21 52" src="https://user-images.githubusercontent.com/66249/199500446-0ddd35b2-8317-467b-9661-4f440ee933c2.png">

[2022-11-02 17:18] EliasGcf commented on #308
The `focus:` style in a TextInput component is not working here.

[2022-11-02 18:43] Jonatthu commented on #308
After updating including babel and tailwind presets were not working and some of my components would not load the right css colors on the web for example so I had to uninstall @next and revert back to 2.X

[2022-11-02 19:18] stesvis opened #312 "Arbitrary color values do not work in Expo Snack"
**Describe the bug**
`text-[custom-color-code]` and `bg-[custom-color-code]` don't seem to work.

Example:
[code]
Please let me know if there is a way to use custom colors like in the tailwindcss example:
https://tailwindcss.com/docs/text-color#arbitrary-values
[code]

**To Reproduce**
See snack.

**Expected behavior**
Color should change.

**Expo Snack**
https://snack.expo.dev/@stesvis/hello-worl

[2022-11-02 21:11] bidah commented on #308
can't make work Experimental CSS support.
I have added a global.css file on entrypoint like this one
[code]
then on `App.js` imported  css file

but on a styled text component, styles are not reflected.

[code]

[2022-11-02 21:56] Jonatthu commented on #308
Missing import { variants } from "nativewind"

[2022-11-02 23:01] marklawlor commented on #312
Hi @stesvis

The `hardcodedTextColor` example is expected not to work as Tailwind does not support dynamically constructed classNames. It should work is `hardcodedTextColor = "text-[#ff0000]"` the full className.

The second issue is that the Expo Snack compiler has a bug where all arbitrary values are not working due to a url encoding issue.

I'll fix this soon, but you shouldn't see this issue w

[2022-11-02 23:19] marklawlor commented on #308
@bidah Can you please provide more information or a reproduction? For reference, here is a project that's using the CSS you provided https://github.com/marklawlor/nativewind-react-native-cli/tree/text-3xl-semi

[2022-11-03 01:24] marklawlor commented on #308
@Jonatthu @EliasGcf @steida version `3.0.0-next.11` has been released

Fixing:
- Missing `variants` export`
- `focus`/`active`/`hover` not being applied in various scenarios
- Missing `ref` Typescript type

`ref` is typed as `any` for the moment. I'll come back and fix this later. `forwardRef` types are difficult to get right :cry:

[2022-11-03 02:38] Jonatthu commented on #308
@marklawlor Using 3.0.0-next.11
When using styled() or StyledComponent

<Button className="flex-1">Action 1</Button> <-- This breaks in the moment I use className for some reason, I think this breaks at the level of babel presets.

<Button status="primary">Action 2</Button> <-- This is using status variants new api and works

[2022-11-03 03:08] marklawlor commented on #308
@Jonatthu I do not understand your issue. I created a working reproduction of the code your provided here

https://github.com/marklawlor/nativewind-react-native-cli/tree/jonatthu-button

Can you please edit that to reproduce your issue

[2022-11-03 03:25] timedtext commented on #308
@Jonatthu

 A typo here
<Button status="primary"`>` className="flex-1">...

[2022-11-03 04:50] Jonatthu commented on #308
The problem was this library
https://github.com/TheSpicyMeatball/react-nanny
This library is supposed to be able to find children and make insert them wherever I want
The problem is that it looks like it does not play ok with nativewind unfortunately :(

[2022-11-03 05:13] marklawlor commented on #308
@Jonatthu You are not providing enough context for me to be able to fix your issue. Saying "this library doesn't work anymore" with zero context on how you were using it is not very useful. Like I asked before, can you please modify the example code I provided so I can reproduce your issue then I can evaluate if I can fix it.

[2022-11-03 13:05] steida commented on #308
Thank you for your work! I think the ref must be generic, it should be possible to copy-paste the actual forwardRef implementation.

[2022-11-03 14:21] jgornick commented on #308
@marklawlor Didn't you introduce `tailwind-merge` as part of 3.0? If so, is there a way to provide a configured version of it to NativeWind?

For our use-case, we use a different [modifier separator](https://tailwindcss.com/docs/configuration#separator). However, as of right now [tailwind-merge doesn't support configuring the separator](https://github.com/dcastil/tailwind-merge/discussions/167).

[2022-11-03 18:48] Jonatthu commented on #308
@marklawlor Sorry I have been testing only on web, ios is working correctly, the behavior that I am gettin on the web it's that the first className overrides the base className

const Button = styled(MyCustom);

function MyCustom(props) {
 return <View className="text-red-500" style={props.style}>{props.children}</View>;
}

Then...

<Button class="bg-blue-500">...</Button>

End result will be:

bg

[2022-11-03 21:42] stesvis commented on #312
Thanks.

I found out more.
It works with
`hardcodedTextColor = "text-[#f00000]";`

but it doesn't work with
`const hardcodedTextColor = "text-[" + "#f00000" + "]";`

In my scenario I get the color from a variable and it seems impossible to apply it that way.
Would it be complicated to find a way to make it work?

[2022-11-03 22:16] marklawlor commented on #312
Please read https://tailwindcss.com/docs/content-configuration#troubleshooting. Tailwind doesn't do static analysis, it simply looks for the keywords in your code. It you break up the keywords into multiple strings, Tailwind cannot process them.

If you wish to style based upon a variable, you need to use CSS variables which are coming in the next major version https://github.com/marklawlor/native

[2022-11-03 22:21] stesvis commented on #312
Yes sounds good, I have a workaround anyway.
Thank you and really appreciate the package!

[2022-11-03 22:47] marklawlor commented on #308
@Jonatthu Please try `3.0.0-next.13`, it should fix merging CSS classNames on web

[2022-11-03 23:45] marklawlor commented on #308
@jgornick `NativeWindStyleSheet.setWebClassNameMergeStrategy()` has been added in `3.0.0-next.14` which allows you to customise how web styles are merged.

`setWebClassNameMergeStrategy: (callback: (classes: string) => string) => void`

[code]

[2022-11-04 18:25] bidah commented on #308
Hey @marklawlor now it's working. I remember restarting app and reloading but after looking at your example I spin up my repo to see any differences and the example was working. So it was just a hiccup. thanks for taking a look at it.

[2022-11-04 23:20] steida commented on #308
@marklawlor Did you consider making the ESM version for tree shaking? From my recent experience, ESM only is the way to go. I can help you if you want.

[2022-11-05 12:39] marklawlor commented on #308
@Jonatthu v2 not having a display named caused the debugging experience to be subpar. Looking at that library, it seems you don't want to use `className` but it should work with `styled()`

[2022-11-05 12:49] marklawlor commented on #308
@steida I don't plan to move to ESM just yet, but I'm happy to be convinced otherwise. My reasoning:

- Metro doesn't support tree shaking (except for exotic setups)
- NativeWind doesn't use ESM features like async loading
- The web code is ~300 lines of unminified code so the benefits of tree shaking are minimal

Metro only added support for `cjs`/`mjs` 4 months ago. I don't think the RN ecosyste

[2022-11-05 13:10] steida commented on #308
@marklawlor In my Next.js RNfW app, the bundle is 49kb gzipped less big when I remove `import { styled } from "nativewind"`. Any idea why?

As for ESM, Metro tree shaking is not as important because apps are downloaded less often than websites are loaded. I proposed ESM mainly because of tree shaking, otherwise, I don't care except when a universal library is used with Node ESM, then ESM is the on

[2022-11-05 16:33] itsramiel opened #316 "TypeError: undefined is not an object (evaluating '_nativewind.NativeWindStyleSheet.create')"
**Describe the bug**
I am trying to use with expo but after following the docs for expo, I get `TypeError: undefined is not an object (evaluating '_nativewind.NativeWindStyleSheet.create')` when starting the app

**To Reproduce**
Steps to reproduce the behavior:
1. initialize a new expo project
2. follow the docs for integrating with expo
3. run the app

**Expected behavior**
Nativewind to be work

[2022-11-05 22:42] nrowley commented on #308
does this work for tailwind.config.cjs files?

i've updated to `"nativewind": "3.0.0-next.14"`

[code]

[code]

[code]

[2022-11-05 22:43] nrowley commented on #308
im just not getting any styles when my app loads, with the above setup...

[2022-11-06 00:11] stesvis commented on #312
@marklawlor I found another related issue.
Not all the arbitrary text colors work.

For example this works: `<Text className="text-[#f00000]">Red</Text>`

But this one doesn't work: `<Text className="text-[#3b0f5e]">Purple</Text>`  ---> it just displays black.

Any idea why not all the color codes are applied?

[2022-11-06 21:54] nrowley commented on #308
@marklawlor also is there a way to retrieve a tailwind color as a hex value 'blue-500' as a hex value?

[2022-11-06 23:38] marklawlor commented on #308
@nrowley Please do not use this issue for general support and use the search function. Your question is answered both in the [Tailwind docs](https://tailwindcss.com/docs/configuration#referencing-in-java-script) and has a [detailed explanation in the NativeWind docs](https://www.nativewind.dev/guides/theme-values).

As for your other question - Can you please first check your configuration against

[2022-11-06 23:40] marklawlor commented on #308
@steida Can you please provide pictures/link to your Next.js bundle https://www.npmjs.com/package/@next/bundle-analyzer. I suspect the size is coming from `tailwind-merge` a dependency that I'm testing on web and not from NativeWind

[2022-11-06 23:48] steida commented on #308
@marklawlor I would like, but I'm in the middle of refactoring to new Next.js app dir. Maybe tomorrow.

[2022-11-06 23:49] marklawlor commented on #312
Please follow the troubleshooting guide https://www.nativewind.dev/guides/troubleshooting

Or update to the v3 preview #308 which resolves these issue.

[2022-11-06 23:50] marklawlor commented on #312
Arbitrary color values in Expo snack will be fixed in the v3 release

[2022-11-06 23:54] marklawlor commented on #316
Please reset your Babel cache as per https://www.nativewind.dev/guides/troubleshooting

You can also update to #308 which does not have this issue.

Duplicate #240 #286  #294

[2022-11-06 23:54] #316 closed

[2022-11-07 03:56] arnaudambro opened #319 "what is ` "ios:text-blue-500": 8192,` ?"
It's not a bug but there is something I don't get in the docs

Here -> https://github.com/marklawlor/nativewind/blob/main/apps/website/docs/overview/how-it-works.md#state

[code]

I don't get the value `8192`, what is it ?

[2022-11-07 17:10] xxRockOnxx opened #321 "Add `styled()` option that maps `customClass` to `customStyle` for consistency with `className` to `style`"
**Describe the bug**

Not really a bug.

Currently `styled()` allows `className` to be received as `style` in the component definition i.e:

[code]

And if you have a custom prop that should style inner component e.g:

[code]

It's kind of inconsistent with how `className` to `style` works.

Naming `textStyle` as `textClassname` is also awkward and might cause confusion and not Typescript friendly

[2022-11-07 19:23] itsramiel commented on #316
I tried running `expo start --clear` several times with no success. Can you try running by sample repo? I'll try to update to `next` but v2 is not working

[2022-11-07 21:01] stesvis opened #322 "No border on android images"
**Describe the bug**
On Android the border does not apply to images. On iOS it works but not the 1px border (has to be 2px)

**To Reproduce**
Steps to reproduce the behavior:
This does not show any border on Android or iOS:
[code]

This only shows a 2px border on iOS:
[code]

I also added a non-rounded image in the snack example to make sure that the issue was not caused by the rounded shape.

**E

[2022-11-07 22:44] marklawlor commented on #322
This is a quirk of React Native, you need to add `overflow: hidden` when using `borderRadius`, especially on Android devices.

https://reactnative.dev/docs/view-style-props#borderradius

[2022-11-07 22:44] #322 closed

[2022-11-07 22:56] marklawlor commented on #322
The Expo snacks are giving me 500 errors right now, but I know from experience that this issue is fairly device specific on android eg I just tested on a Pixel 4 and a Galaxy S10+ and both render fine without the `overflow:hidden`.

[2022-11-07 22:58] stesvis commented on #322
I am afraid the `overflow: "hidden"` is not making any difference...

[2022-11-07 23:19] marklawlor commented on #322
Are you testing on device or in the emulator? Can you please provide more detail

Expo Snacks are now loading, but any changes I make are not reflected on the device or though my device when I use Expo Go

[2022-11-07 23:43] marklawlor commented on #321
Currently the `prop` option has two versions, `{ [prop]: boolean | string }` where string can be a style attributes. The docs for this are rather poor https://www.nativewind.dev/api/styled#styling-non-style-properties.

I'd be willing to consider changing this API to

[code]

And changing the default `string` mapping to map to `name` instead of the less common `attribute`

[2022-11-07 23:44] stesvis commented on #322
I tried on expo snacks, on a local emulator (API 32) and on my device (Android 12). And on an iOS phone.
The image code is this:
[code]

And see the screenshots. Only iOS shows the red border (i included it to verify that the border is indeed there).
I've tried with and without `overflow-hidden`. I also tried to add it as a style instead of the tailwindcss class, same result.

Emulator:
![android-

[2022-11-07 23:46] stesvis commented on #322
Expo Snacks says I need the tailwindcss depedency but it fails to install it...so i am not sure

[2022-11-08 03:03] xxRockOnxx commented on #321
Yeah, changing the string mapping sounds nice.

[code]

As for the `PropOptions`, I believe TS union would be better because it's either a name or attribute.

Lastly, how about the auto-mapping of `$(name)Classname` to `$(name)Style`?

I think this case is common enough that having this will make working with Nativewind very pleasant.

It makes it consistent on how `className` is mapped to `style`

[2022-11-08 03:50] stesvis commented on #322
If I just use style it works on android:
[code]

![Screenshot_1667879385](https://user-images.githubusercontent.com/6062684/200470878-b8968fe9-a97a-4e31-b860-a27253f873f2.png)

[2022-11-08 04:32] marklawlor commented on #321
I don't believe automapping is a good idea, I'd rather be explicit. Props will not always follow that naming convenion Eg `textColor` is a common prop that people map using `{ props: { textColor: "color" } }`

[2022-11-08 04:39] marklawlor commented on #322
I cannot replicate your issue in the emulator or on devices. My best advise is to try and upgrade to the `next` branch #308 and resetting your babel/metro cache

[2022-11-08 10:52] anurag-alla commented on #308
@marklawlor ,

I'm using a nativewind next for building a button component and my code is as below.  But when I render the button the clsx output shows the correct className but the component is always renders without any styles applied. This behaviour is not consistent, if I reload the app multiple times/ if i provide className string directly it works as expected. I do not have any problem using

[2022-11-08 15:04] xxRockOnxx commented on #321
That's a good example. Never crossed my mind.
Initially I was just asking for a way to map style prop to another name.

Sticking with that example, the requested option should still allow that.
It's just that by default, `className` is mapped to `style`.

IMO, just an intuitive default

[code]

vs

[code]

I'm not pushing this however if you still think it's not a good one.
I'm just giving argumen

[2022-11-08 15:41] stesvis commented on #322
Do you mean that the border shows correctly on your side using tailwind classes?

[2022-11-08 15:53] stesvis commented on #322
I wanted to ask what is the difference between
[code]
and
[code]

Does `style()` only provide intellisense for the `className` property? I can't see any difference in the end result.

[2022-11-08 18:35] steida commented on #308
@marklawlor Here is a repo https://github.com/evoluhq/evolu.me I just added the bundle analyzer so you can check it. From 189 to 238 after adding Nativewind. To disable tailwind, comment this code https://github.com/evoluhq/evolu.me/blob/main/components/styled.tsx

[2022-11-08 21:04] marklawlor commented on #322
Yes I see the border.

`styled()` does other things like add event handlers if you are using classNames that need them (`hover:*`/`active:*`) and/or modify the children if needed. But for your example it should simply be setting the `style` prop.

If you write

[code]

You can see the prop's its passing though.

[2022-11-08 21:07] marklawlor commented on #321
I think I'll stick with being explict. Another reason not to auto-map is that not every `***Style` prop uses a style object.

ScrollView has `indicatorstyle` that accepts a string. https://reactnative.dev/docs/scrollview#indicatorstyle-ios

[2022-11-08 21:26] stesvis commented on #322
Could I have some misconfiguration? Any config file that you'd like me to post here to double check if everything is configured correctly?

[2022-11-08 21:30] marklawlor commented on #308
@Jonatthu I have asked before, please provide as much information as possible when reporting issues. Which shadow classes are broken?

* Are you using theme values or arbitrary ones?
* Are you using the standard or the transparency version?
* Just iOS or android as well?

[2022-11-08 21:52] marklawlor commented on #308
@steida You can see the breakdown is

NativeWind: 16.52kb

And then its dependencies:
tailwind-merge: 20.03kb (makes web behave closer to native)
class-variance-authority: 2.25kb (adds the variant logic)
use-sync-with-external-store: 1.25kb (shim for users not on React 18)
I'm assuming the extra is webpack glue code

I'm just testing `tailwind-merge` and I'm considering making it an optional, but

[2022-11-08 22:11] Jonatthu commented on #308
@marklawlor

Shadow class is broken on native

const View = styled(RNView);
```<View className="shadow">...</View>```

Are you using theme values or arbitrary ones?
It's from the theme values but works on web.

Are you using the standard or the transparency version?
I am using just the shadow class like above

Just iOS or android as well? I am testing on iOS and web (web works)

[2022-11-08 22:12] marklawlor commented on #322
If your seeing the correct props being passed though, then everything has been configured correctly. What I don't understand is why manual inline styles work but the inline styles passed from `styled()` do not.

I also just realized I may of accidently done my testing on the `next` branch.

[2022-11-08 23:29] marklawlor commented on #308
@Jonatthu Can you please try `3.0.0-next.15`

[2022-11-08 23:40] stesvis commented on #322
I tried to migrate to the `next` branch and follow the instructions but when i started the app i got the error:

So maybe i did something wrong. I believe I cleared the cache with `expo start -c` and tried also `npx expo start -c`

[2022-11-09 00:14] stesvis commented on #322
I don't have it at the moment (i reverted back to the stable release). Is it supposed to be created after the `next` installation?

[2022-11-09 00:16] marklawlor commented on #322
You cannot use the `next` project setup with the `stable` version, the project setups changed between the two. See the breaking changes of #308

[2022-11-09 00:22] stesvis opened #323 "Can't customize theme to change default font sizes"
**Describe the bug**
Can't change the default `fontSize` (aka `text-base`).
I followed [this sample](https://tailwindcss.com/docs/font-size#customizing-your-theme) and tested with double font size `base: "2rem"`

**To Reproduce**
Steps to reproduce the behavior:
My **tailwind.config.js**:
[code]

**Expected behavior**
Base font size should double but instead it looks the same.

Is it a known bug?

[2022-11-09 00:24] stesvis commented on #322
Yes I was just asking whether the metro.js file is supposed to exist only in `next` or also in the stable version.
If it's supposed to exist in both, then I definitely do not have it in the stable version.
I'll try `next` once I can upgrade it again.

[2022-11-09 00:27] marklawlor commented on #323
`rem` units are not currently supported. They will be available in the next release see #308

[2022-11-09 00:27] #323 closed

[2022-11-09 01:03] stesvis commented on #322
I was able to configure everything and now I see the red border finally! Thank you so much.

[2022-11-09 01:07] stesvis commented on #323
I installed the `next` release `"nativewind": "^3.0.0-next.15"` but I still can't see any changes in the font sizes.
I also tried to set it using pixels like `base: "20px",`  or just a number `base: 20`

What are my options to define custom font sizes?

[2022-11-09 01:27] marklawlor commented on #323
Your theme looks incorrect, `next` changed from being a plugin to a preset. See #308

Here is a working version https://github.com/marklawlor/nativewind-react-native-cli/tree/font-sizes

[2022-11-09 01:58] Jonatthu commented on #308
@marklawlor  I found a weird bug

When you have declared a StyleSheet variable on a component the app no longer respects the classNames or tailwind styles.
[code]

Even when commented out still would break the styles. There is no error message
Whenever I remove this from the code entirely and the restart metro bundling it will work again,
Also web is not being affected.

Including that whenever I

[2022-11-09 02:02] ph20Eoow commented on #77
Don't forget to restart your editor. In my case, until I restarted my VScode, the redline was still showing up after adding `app.d.ts`

[2022-11-09 02:05] stesvis commented on #323
Thank you, I am finding some issues with v`next`, some random crashes when using certain classes that worked before.
At the moment there would be too much to refactor.

Do you know if there is a way to customize the font size in the stable release?
I know that you said `rem` values are not supported, is there another option?

[2022-11-09 03:53] stesvis commented on #308
@marklawlor you asked me (in another thread) to list some issues i found in v3.

For example, I added `space-y-3` to a view and the elements in it are not spaced at all;
[code]

In another screen I had a button placed at the bottom with `absolute bottom-2` and not with v3 it disappeared from the screen, it's visible again wit ha much bigger bottom position such as `bottom-20`

In another screen, a

[2022-11-09 11:46] anurag-alla commented on #308
@marklawlor, is there any helper to generate typings( with variants) in nativewind 3.x?
Example from Tamagui ```export type CircleProps = GetProps<typeof Circle>```

[2022-11-09 15:48] stesvis commented on #323
Would you be able to tell me the steps to make it work with `px` in `stable`?

[2022-11-09 22:03] sopranolinist opened #324 "Nativewind & Razzle"
**Describe the bug**
Has anyone successfully used [Nativewind](https://www.nativewind.dev/) with Razzle for SSR? I am attempting to do this in my React Native for Web project but I'm stuck on the deployment [configuration](https://razzlejs.org/docs/customization) options necessary to correctly use Babel through Razzle. I get the following build error:

[code]

My `razzle.config.js` file:

[code]
I

[2022-11-09 22:09] marklawlor commented on #324
You need to add `react-native` to your transpilation list. The vast majority of RN modules will need transpilation for web.

[2022-11-09 22:09] #324 closed

[2022-11-10 02:00] marklawlor commented on #308
`3.0.0-next.16` has been released and contains a number of fixes

**new breaking change** `rem` is now `14`, which matches the default text size of `<Text />`. This will affect all `rem` based styles causing them to "shrink" slightly. You can restore the previous behaviour with `NativeWindStyleSheet.setVariable({ '--rem': 16 })`.

* NativeWind gracefully recovers after yellow-box errors
* Fixed a

[2022-11-10 02:01] marklawlor commented on #308
@stesvis `bottom-2` scales off `rem`, so if you adjusted the `rem` value it will be much larger. This is the same behaviour as TailwindCSS on the web.

[2022-11-10 02:08] aleedmanath commented on #308
Wow the css support in version 3 will truly integrate native and web styling.

The variant support for styled components looks great, too.

Thank you for your work on this @marklawlor

Looking forward to giving it a go once a few more kinks are worked out 😅

[2022-11-10 10:02] marklawlor commented on #308
@anurag-alla You can use your normal `InferProps` methods, but I'm opening to adding a built in type.

[2022-11-10 18:22] steida opened #325 "Typed className"
I believe it should be possible to have a fully typed className based on everything what Tailwind provides. Maybe it's a task for Tailwind itself, I am leaving it here only as a suggestion. WDYT?

[2022-11-10 19:21] Jonatthu commented on #308
@marklawlor

Transparency colors like color/30 are not working on iOS but they work on web.
Is this a known issue or officially not supported?

This is on latest version 16.

It works:
bg-neutral-500
active:bg-neutral-400
hover:bg-neutral-400/

It does not work (On iOS)

bg-neutral-500/50
active:bg-neutral-400/30
hover:bg-neutral-400/30

[2022-11-10 21:33] Jonatthu commented on #308
@marklawlor Also group group-isolate is not working as expected.
Text wont turn out white on hover or active.
[code]

[2022-11-10 21:45] marklawlor commented on #325
I'm going to close this as I consider it out of scope for this project, but I'll share my thoughts why.

Proper types cannot be statically generated, so you either need to perform code generation or provide a Typescript Language Plugin. This is because Tailwind itself is dynamic. Not only are there arbitrary classes but plugins that can dynamicly add and remove classes. There are already packages

[2022-11-10 21:45] #325 closed

[2022-11-10 21:53] marklawlor commented on #308
@Jonatthu Transparent colors are fixed in `3.0.0-next.18`

`group-isolate` has been removed and replaced with https://tailwindcss.com/docs/hover-focus-and-other-states#differentiating-nested-groups

[2022-11-10 21:54] steida commented on #325
I understand and thank you for the answer. I was curious because I suppose "proper types can be statically generated" with template literal types. There is no reason why it should not, except for the ecosystem itself. I agree it's out of the scope of Nativewind. I will ask in Tailwind repo 😇

[2022-11-10 22:02] Jonatthu commented on #308
@marklawlor It's working on 18! Thanks another bug:

iOS breaks styles if use  `drop-shadow` class but works on web
[code]

It won't recover even if you change it back to `shadow` class (metro does not recover gracefully after a bug).
[code]

If metro bundler restarted it will work again with just `shadow` class.

Tested on next.16 and also next.18

[2022-11-10 23:05] marklawlor commented on #308
@Jonatthu Can you explain the crash in more detail? I am unfortunately unable to test on iOS until next week. The `drop-shadow` class is ignored by NativeWind and generates no output.

If it's just `shadow` that isn't working (and requires you to restart metro) it could be because `shadow*` styles  in RN are quite buggy and often require a restart and/or things like background color to be set.

Th

[2022-11-10 23:09] Jonatthu commented on #308
@marklawlor
1. shadow class works on iOS and Web.

2. drop-shadow class does not work on iOS and breaks all the styles of the app. So it seems that drop-shadow is not being ignored. Also when I remove drop-shadow class the ui still won't recover and I have to restart metro, then everything works as normal.

[2022-11-10 23:13] marklawlor commented on #308
@Jonatthu Can you share a video? Also please check the contents of `node_modules/.cache/nativewind/output.js`. It will contain a `NativeWindStyleSheet.create()` call with style objects for all your Tailwind classes. Ideally it should not contain anything for `drop-shadow`

[2022-11-10 23:31] Jonatthu commented on #308
@marklawlor

When I use the `drop-shadow` class the `node_modules/.cache/nativewind/output.js` would be minimized

1. Without drop-shadow  `node_modules/.cache/nativewind/output.js`
<img width="908" alt="image" src="https://user-images.githubusercontent.com/3742176/201227436-c11571ee-8942-4830-87cf-2827a35924db.png">

2. Once I use the `drop-shadow` class  `node_modules/.cache/nativewind/output.js

[2022-11-11 00:06] marklawlor commented on #308
@Jonatthu  Ok, clearly that's breaking somewhere and its happening at the Metro layer - so it should be easy to replicate, but I can't seem to replicate it :(

Are you able to modify https://github.com/marklawlor/nativewind-react-native-cli so it display the same behaviour?
Or are you able to share your repo?

[2022-11-11 02:00] Jonatthu commented on #308
@marklawlor also `max-w-[50px]` breaks the app styles for some reason, it works with regular `style={{maxWidth: 50}}`

[2022-11-11 03:10] marklawlor commented on #308
@Jonatthu Can you please confirm that with https://github.com/marklawlor/nativewind-react-native-cli

I am not able to replicate that issue either.

[2022-11-11 04:13] Jonatthu commented on #308
@marklawlor  Okay I will create a repo with these bugs

[2022-11-11 04:39] marklawlor commented on #308
@anurag-alla Sorry I meant to say `ComponentProps` before

[code]

[2022-11-11 07:59] Lihemen opened #326 "className Type declaration"
**Describe the bug**
While using nativewind with RN+Typescript, red squiggly lines appear below the className property with the error No overload matches this call. Although the className property works and allows for styling, it just looks ugly

**To Reproduce**
Steps to reproduce the behavior:
1. Setup an expo Typescript project
2. Add support for nativewind
3. Add a className property to any na

[2022-11-11 09:17] marklawlor commented on #326
Please follow the typescript setup instructions https://www.nativewind.dev/getting-started/typescript

[2022-11-11 09:17] #326 closed

[2022-11-11 11:16] semvgelooven commented on #308
Using version next.18 I get a postCSS error during building:
_throw new Error('PostCSS plugin ' + i.postcssPlugin + ' requires PostCSS 8.\n' + 'Migration guide for end-users:\n' + 'https://github.com/postcss/postcss/wiki/PostCSS-8-for-end-users');_

version next.16 is fine though

[2022-11-11 17:44] Jonatthu commented on #308
@semvgelooven this happened to me when I added d3 library into my packages

[2022-11-11 20:18] Jonatthu commented on #308
@marklawlor is there anyway that nativewind metro bundler plugin can give warnings or logs regarding any class that os being ignore or bad parsed? I think it would make things easier

[2022-11-11 20:36] marklawlor commented on #308
An upcoming minor version will include "strict mode" where the compiler will error if it encounters a class that is not supported by the current platform. It can be fixed by providing a platform variant eg `web:grid`.

I've had this on the roadmap for a little while but this release is too big and it didn't make the cut

[2022-11-11 21:35] chkilel commented on #77
If you are using _**Neovim**_, what helped is creating a file (eg. `src/nativewind.d.ts`) and pasting this line.

[code]

[2022-11-11 21:57] marklawlor commented on #77
Using the Triple Slash Directive is the recommended method. Using `import "nativewind/types"` will not work in all scenarios

[2022-11-11 22:06] marklawlor commented on #308
@semvgelooven `3.0.0-next.19` should fix the dependency issue. You may have to regenerate your lockfile and/or reset your node_modules if you still have the error

[2022-11-12 08:15] amritk commented on #282
Same issue here, I tried the @next version as well.

https://github.com/amritk/nativewind-expo-next/tree/next

[2022-11-12 23:20] steida opened #328 "Typed helper for Nativewind variants"
I miss autocomplete for variants defined outside of className, so I made a small helper for that. Maybe it can be useful for Nativewind. Having variants defined within className allows us to style components made from more elements, for example, a Button with Pressable and Text inside it.

[code]

[code]

[2022-11-13 19:59] Jonatthu commented on #308
@marklawlor it looks like even commented out code still get's parsed by nativewind, which makes me think there is a regular expression parsing every single style and producing the styles for us?

I have code that does not parse correctly for some reason and even when I comment this out the styles would still break.

This code combination for some reason breaks the styles even when commented out.
<

[2022-11-13 22:36] marklawlor commented on #308
@Jonatthu This makes perfect sense to me :smile: Tailwind CSS is language agnostic - it needs to be as people make websites in many different programming languages. It doesn't know what a "Javascript comment" is - it just treats the whole file as plain text.

This version of NativeWind uses a new CSS parser. There is mostly likely a bug in the parsing logic that is causing it to return early.

Are

[2022-11-13 23:30] Jonatthu commented on #308
@marklawlor

[code]

[2022-11-14 02:51] Jonatthu commented on #328
Add the vscode regex pattern, that the documentation tells you! Add an extra one change styled word for variants on that regex! That worked for me.

[2022-11-14 07:58] steida commented on #328
@Jonatthu Where exactly, please?

[2022-11-14 19:40] Jonatthu commented on #308
@marklawlor did you notice anything on this styles that could have a bug?

[2022-11-14 21:27] marklawlor commented on #308
@Jonatthu That code is not going to be enough for me to replicate it. You are using custom classes either from a plugin or theme values. Its going to be much easier if you share a reproduction repo

[2022-11-15 03:35] marklawlor commented on #308
`3.0.0-next.20` has been released and has a number of changes

- Typescript types have been rewritten, please let me know if you find any issues
- `ref` is correctly typed (@steida)
- NativeWind respects the Important modifier
- `defaultVariants` has been renamed to `defaultProps`
  -  It now sets the component defaultProps, not just variants
- `compoundVariants` can now accept component props, no

[2022-11-15 12:05] steida commented on #308
@marklawlor One tip for Nativewind. If you put TS source files into npm, code navigation in VSCode will show the source code. I use it in Evolu - https://github.com/evoluhq/evolu/releases/tag/evolu%400.1.4

[2022-11-15 13:27] steida commented on #308
@marklawlor For some reason, `rounded-l` is sometimes ignored.

<img width="58" alt="Screenshot 2022-11-15 at 14 25 09" src="https://user-images.githubusercontent.com/66249/201930739-1551a75d-2657-416d-ae9e-65dbd0a3b783.png">

This commit https://github.com/evoluhq/evolu.me/tree/bbc2fcc579c4c9815545a9ad18737beb8cac1e57

Am I doing something wrong?

[2022-11-15 18:06] Jonatthu commented on #308
@marklawlor is there a way we can chat as a video call? It would be way easier to share my screen and show you the problems I am having, it seems that a simple repo works ok, but when it becomes a complex project seems like the tailwind to css to react native has certain bugs that make it really hard to replicate on an isolated environment and I need help. Is there a way for you to do a video call

[2022-11-15 18:13] Jonatthu commented on #328
[code]

[2022-11-15 18:48] Jonatthu commented on #308
@marklawlor it looks like most of the bugs would come from a path like
`'../../packages/ui/src/components/**/*.{js,jsx,ts,tsx}',` which is a mono repo after all, but can not be a 100% sure since you must change the files on real time to reproduce some of the bugs, thing that I can not do on a static repo reproduction :/

[2022-11-15 18:49] #328 closed

[2022-11-15 20:28] steida commented on #328
@Jonatthu Your regex does not work for me for some reason, but https://github.com/paolotiu/tailwind-regex-list works, but without Prettier autoformat...

[2022-11-15 22:26] marklawlor commented on #308
@steida I cannot add the source files due to the project structure. As I use  `index.ts` & `index.native.ts` to definition will always take you to the web definitions.

`rounded-l` is not a valid className, it should be `rounded-lg`. You are also using it as a dynamic class name (https://github.com/evoluhq/evolu.me/blob/bbc2fcc579c4c9815545a9ad18737beb8cac1e57/components/TextButton.tsx#L25) which

[2022-11-15 22:28] marklawlor commented on #308
@Jonatthu Can you please share your repo. Even if we did have a call, I would still need your code to replicate & debug the issue.

[2022-11-15 23:09] steida commented on #308
@marklawlor
<img width="599" alt="Screenshot 2022-11-16 at 0 09 15" src="https://user-images.githubusercontent.com/66249/202044069-6e17ad38-a9ab-4614-af23-0a970c3b811c.png">

[2022-11-16 01:13] marklawlor commented on #308
@steida Can you please link me to the TextInput in your codebase.

Depends. I'll be adding docs on when you'll want to use it. Tailwind-merge has a couple of points here https://github.com/dcastil/tailwind-merge/issues/143.

If you have issue with class merging on web, the standard method will be to use important classes or if you have a larger app and don't mind the 20kb then you can use tailwind

[2022-11-16 03:18] marklawlor commented on #308
I've created a discord channel as an alternative way for people to get support https://discord.gg/VvbyTuHQ2V

[2022-11-16 09:56] rborn opened #329 "Expo web needs restart when adding a new class"
**Describe the bug**
It looks like hot reload is not fully working on expo web.  It does work on ios as it fully rebuilds

**To Reproduce**

Set the App.tsx to return
[code]
Start `expo web`

Change the inner View to
[code]
It will lose the bg color, restart `expo web` -> we're blue now

**Expected behavior**
Recompile styles on hot reload

I'm using nativewind@next with this instructions  https:/

[2022-11-16 10:58] steida commented on #308
@marklawlor The whole integration is here: https://github.com/evoluhq/evolu.me/blob/main/components/styled.tsx

Maybe I did not set up Nativewind 3 properly?

[2022-11-16 11:50] marklawlor commented on #329
This is not a NativeWind issue so I'm going to close it, but I would like to continue the discussion.

Hot reloading Tailwind CSS is a Tailwind CSS/webpack issue. This previously worked fine, but Expo has not yet been updated to Webpack 5, and all the plugins have been upgraded / moved on. So you have to use older webpack loaders, which don't work as well with the newer versions of PostCSS/Tailwin

[2022-11-16 11:50] #329 closed

[2022-11-16 12:04] rborn commented on #329
Thank you for replying 🙂

Refresh won't work. If I find any way I'll let you know.

[2022-11-16 12:07] marklawlor commented on #308
@steida With a fresh clone and `npm install && npx tsc --noEmit` I don't have any type errors. Viewing the code in my editor it has the correct types. Maybe you need to restart your language server (or restart your editor)?

[2022-11-16 16:16] itsramiel commented on #308
should I post issues related nativewind@next here or do I open a new issue?

[2022-11-16 16:51] steida commented on #308
@marklawlor, I removed this file.

<img width="742" alt="Screenshot 2022-11-16 at 17 50 38" src="https://user-images.githubusercontent.com/66249/202242892-366ce169-fcec-4a8e-a339-401cf57b5c7a.png">

[2022-11-17 09:58] omaziarz opened #330 "Using custom theme fontSize named "paragraph" crashes the Expo App on Android Only"
**Describe the bug**

I am using nativewind with Expo and didn't test this in a non Expo RN app.
I have a custom theme where i defined the following:
[code]
if i use it like this :
[code]
in any text component my app will crash without error only on Android. On iOS the app works fine and the style is applied.

Renaming `paragraph` fixes the app.
Firstly i though that maybe paragraph was a reserved

[2022-11-17 20:35] itsramiel opened #331 "[Next] style prop of pressable is not receiving pressed argument when className is used"
**Describe the bug**
The `style` prop of __Pressable__ can be a function which takes an object with `pressed` value to return different style depending on state is pressed or not. It works fine if `style` props is used without `className`, but if both `style` and `className` are used then the `pressed` argument is not working anymore.

**To Reproduce**
Steps to reproduce the behavior:
1. use Press

[2022-11-17 20:41] itsramiel opened #332 "[Next] [Typescript] creating an interface from styled component raises an error"
**Describe the bug**
Usually when I create a custom component, I would like to be able to pass all props that the container component can accept. Usually I do this by
[code]

This code works if you do not use a styled nativewind component, but with nativewind I get the following error when defining the interface:
<img width="1012" alt="image" src="https://user-images.githubusercontent.com/80689446

[2022-11-18 11:01] srdjanbogicevic commented on #261
This solved my issue with toggling the color scheme.

[2022-11-19 04:46] marklawlor commented on #308
`3.0.0-next.22` has been released with fixes for:
- Compilation not working/crashing
- Variants
- Typescript types

**You may need to reset your babel cache**

This is quite a complex update (especially for the Typescript types). Please continue to comment/create issues if you have any problems

[2022-11-19 04:47] marklawlor commented on #330
Should be fixed with `nativewind@next`. See #308 for more information

[2022-11-19 04:48] marklawlor commented on #332
Fixed in `3.0.0-next.22`

[2022-11-19 04:48] #332 closed

[2022-11-19 04:50] marklawlor commented on #331
`className` affecting `style` is entirely how this library works. I'm on the fence for support style functions, can you provide your use-case in more detail?

[2022-11-19 04:55] marklawlor commented on #271
Update: `nativewind@next` works only for android & ios. Web support is blocked by Metro as it does not support for CSS files.

[2022-11-19 07:50] itsramiel commented on #331
My bad, you are right that it should affect it, but what I expect is styles defined in `className` to override styles in `style` prop which is what happens with other components, except for Pressable which just stops passing the pressed state at all.

My use-case is really to have a different opacity for the `Pressable` component depending on if it is pressed or not, which is achieved using style

[2022-11-19 07:51] itsramiel commented on #332
I appreciate your work on this library!

[2022-11-19 08:50] marklawlor commented on #331
You can achieve this with the `active:` modifier eg `bg-red-500 active:bg-red-500/50` will show the background colour red at 50% opacity when pressed.

The reason I'm on the fence about the style functions is that people seem to only use them to implement functionality that NativeWind already provides!

[2022-11-19 09:30] itsramiel commented on #331
Alright interesting. I was not aware of the modifiers and i will most likely solve my use case, but in my opinion I think the `style` props should still maintain its original behavior of receiving the pressed boolean.

[2022-11-20 17:58] Jonatthu commented on #330
@marklawlor seems like gap-2, flex-1 and flex-row | flex-col and font sizes like text-9xl are broken on the 22 version

<img width="532" alt="image" src="https://user-images.githubusercontent.com/3742176/202917888-18f7a696-a16a-40da-bb54-ec71efc7d9c5.png">

<img width="403" alt="image" src="https://user-images.githubusercontent.com/3742176/202917901-34f82dd0-0896-44b2-b91f-4f13659de5a1.png">

This

[2022-11-20 20:31] marklawlor commented on #330
@Jonatthu can you please share your repo? At this stage the problems are not "this class doesn't work" rather "this project setup breaks the classes from compiling"

[2022-11-20 22:42] Jonatthu commented on #330
@marklawlor https://github.com/Jonatthu/expo-template-storybook/blob/skia-setup/App.tsx
This is a reproduction of the issue, text-9xl, 8xl and others are broken and also flex is nor working as expected, on my example it supposed to create a 3x3 column but looks like renders everything in a single row without no height

[2022-11-20 23:20] marklawlor commented on #330
Fixed in `3.0.0-next.23`.

[2022-11-21 00:36] kjoedion opened #336 "install process for expo is bad"
i just want to say that i really prefer the nativewind DX (e.g. using `className` like regular react) but getting it running for expo web sucks

i was [following the guide](https://www.nativewind.dev/quick-starts/expo) and got to the part where it links to a demo repo, and just trying to sift through what packages i need to install, what files i need to update, etc. is not straight forward at all

[2022-11-21 08:49] w00ing opened #339 "Gap utility class working only when wrapped in `styled()` HOC."
**Describe the bug**
The `gap-[x]` utility class does not work properly in `View` component. It works fine when the component is wrapped in `styled()` HOC.

**To Reproduce**
Steps to reproduce the behavior:
1. Use `View` component with `flex`-related utility classes.
2. Add some children components.
3. Add `gap-[x]` to `className`.
4. There is no gap between children components.

However, if I wra

[2022-11-21 09:00] w00ing commented on #339
Oh, I guess I misunderstood how expo snack works with Nativewind. It seems that none of the styles are applied with utility classes when using plain components. You can ignore this issue, I'll return with a more proper description.

[2022-11-21 09:00] #339 closed

[2022-11-21 13:17] dandaneel commented on #308
Is there an equivalent of `VariantProps` from [cva](https://github.com/joe-bell/cva#variantprops) to extract the `variants()` types ?

[2022-11-21 13:44] marklawlor commented on #308
You just use `ComponentProps` like normal

[code]

[2022-11-21 16:23] dandaneel commented on #308
Thank you @marklawlor for your answer. This works for `styled` but I was looking for a way to extract types from the `variants` function.

[2022-11-22 20:43] marklawlor commented on #308
`3.0.0-next.28` has been released

* Fixed boolean variants not being applied `variants()`
* Fixed platform variants not working as expected
* Improved `styled()` types
* New type `VariantProps<T>` to generate props from a `variants()` callback @dandaneel

[2022-11-23 11:22] chenhb23 opened #344 "v3: SyntaxError"
**Describe the bug**
return config withNativewind while start a metro server

[code]

**To Reproduce**
Steps to reproduce the behavior:

outputJSPath: `node_modules/.cache/nativewind/output.js`

[code]

**Expected behavior**

change `const` to `import`

[code]

**Screenshots**

<img width="884" alt="image" src="https://user-images.githubusercontent.com/74194963/203534414-40ec420e-807b-479d-802f-14

[2022-11-23 11:43] marklawlor commented on #344
What version are you running? The current `next` output looks like this https://github.com/marklawlor/nativewind/blob/c9f60d47518a871cd83fd406b8ff4d17450a4f77/packages/nativewind/src/metro/tailwind.ts#L116

[2022-11-23 12:16] chenhb23 commented on #344
[code]

[2022-11-23 12:25] marklawlor commented on #344
Can you please share your repo? I'm quite confused how you got that error with the current version.

[2022-11-23 12:50] chenhb23 commented on #344
I'm sorry to share the private repo...

use `yarn add nativewind@next` will install `"nativewind": "^3.0.0-next.28",`

---

the follow is my patches:

[code]

[2022-11-23 12:57] marklawlor commented on #344
@chenhb23 What is the version number inside your `node_modules/nativewind/package.json`?

If I create a new folder and run `npm init && npm i nativewind@3.0.0-next.28` and inspect `node_modules/nativewind/dist/metro/index.js` it does not contain the code for your patch.

[2022-11-23 13:01] chenhb23 commented on #344
@marklawlor

<img width="840" alt="image" src="https://user-images.githubusercontent.com/74194963/203553037-0cba8881-dfbd-4dae-b10d-2f962cfa0b15.png">

[2022-11-23 13:09] marklawlor commented on #344
Can you please follow these steps

* Create a new folder
* cd into that folder and run `npm init`
* Run `npm install nativewind@3.0.0-next.28`
* Verify that `node_modules/nativewind/dist/metro.js` has the problematic code

I have run this on two computers and am unable to replicate your issue

[2022-11-23 14:03] chenhb23 commented on #344
it's ok now, maybe the cache of yarn is update

[2022-11-23 14:03] #344 closed

[2022-11-23 20:25] kuzkokov commented on #308
hey, @marklawlor. thanks for your awesome work!

I noticed in the latest version that `margin` classes with `auto` as a value (such as `mt-auto,` `mb-auto`) don't work. it seems that they are not being parsed into anything at all

[2022-11-24 00:51] marklawlor commented on #308
`3.0.0-next.29` has been released with fixes for CSS properties that use the `auto` keyword. (thanks @kuzkokov ) and fixes for intellisense when using platform variants (thanks @Jonatthu)

[2022-11-24 01:56] chenhb23 commented on #308
`className="w-screen"` report an error

<img width="1386" alt="image" src="https://user-images.githubusercontent.com/74194963/203676802-c5f671bf-b7f6-4393-8288-b2d05d10cacb.png">

[2022-11-24 04:04] marklawlor commented on #308
`3.0.0-next.30` has been released and includes multiple fixes to width/height based media queries

@chenhb23 I wasn't able to reproduce your issue but I believe it was caused by a race condition that this release should fixe.

[2022-11-24 16:58] AeRo8 commented on #77
In my case, I've created `app.d.ts` and add the below snippet but I still get typescript error because of className. So, i change the file name `app.d.ts` to `app-env.d.ts` and it works.
`/// <reference types="nativewind/types" />`

[2022-11-24 18:26] chrisarts commented on #287
I was struggling with the FlatList props infer using generics, I end up doing this:

[code]

[2022-11-24 18:45] steida commented on #308
@marklawlor How hover state is supposed to be used?

https://necolas.github.io/react-native-web/docs/pressable "The hover state is only activated by mouse interactions."

 :hover CSS pseudo-class should not be used on mobile devices.

 https://github.com/necolas/react-native-web/issues/1708#issuecomment-678403800

[2022-11-24 23:00] marklawlor commented on #308
@steida React Native has evolved past mobile only usage and hover state is for environments where users will be using a mouse. This can be React Native Windows/OSX or even someone on a Chromebook running an React Native Android app.

[React Native's Pressable has hover support but it's poorly documented](https://github.com/facebook/react-native/blob/5d26ceaa236684c7bd6d0d9001ff2c8908d88c29/Librari

[2022-11-24 23:28] marklawlor commented on #287
If you are using the `next` branch you can simply cast the styled component into having the generic props

[code]

If anyone knows of a simpler method I'd love to document it / create a helper type.

[2022-11-25 10:44] rosanche opened #345 "overflow-visible not working"
`overflow-visible` className isn't working.

When I put it directly in the styleSheet with `style={{ overflow: 'visible' }}`, it's working totally fine....

[2022-11-25 13:01] marklawlor commented on #345
Can you please try the `next` branch. The setup instructions are detailed here #308

[2022-11-25 17:05] steida commented on #308
 @marklawlor No, that's wrong. Read the comments in the link, please. It's not about Chromebook users only. It's also about iOS and Windows users. In iOS, when you have a list of items with scroll, and you will stop scrolling them with touch, a hover is shown. That's bad UX. Hover should not be shown. That's why people generally disable the hover effect on mobile devices. But that's also wrong. RN

[2022-11-25 18:04] chrisarts opened #346 "How to use plugins ?"
**Describe the bug**
How to use external plugins like daisyUI ? I try to use it but the output shows some rem values that crashes on expo, is there any way to create a patch or transform function to change those values on native ?

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise des

[2022-11-25 23:08] justblender commented on #308
Due to the way React Native handles custom fonts, could we incorporate something like `faces` in Tamagui for different font weights? So given `font-custom font-bold`, this class name would resolve `font-custom` to "CustomFont_Bold" in native environment?

[2022-11-26 00:07] marklawlor commented on #308
@justblender That is how RN [works by default for Android ](https://github.com/facebook/react-native/blob/bd2d0b28bd36cde5387fb88120a3f2e095ffd4a3/ReactAndroid/src/main/java/com/facebook/react/views/text/ReactFontManager.java#L39). If you want this functionality for iOS you can achieve it by updating your plist.

I'm not sure that forcing iOS font loading into the android method is a good idea, se

[2022-11-26 00:18] marklawlor commented on #308
@steida If you wish to continue this discussion, please open a discussion and don't continue it in this topic.

You may have missed that I linked to the React Native, not the React Native Web. NativeWind does not use React Native Web's Pressable/useHover and article does not apply to NativeWind's implementation. If you'd like to see how we implement hover the code is [here](https://github.com/mark

[2022-11-26 00:27] marklawlor commented on #346
Plugins work exactly has described here https://tailwindcss.com/docs/plugins

NativeWind is not a full featured CSS engine - we only try to support the same feature set of TailwindCSS. DaisyUI extends Tailwind and takes advantage of all the features of CSS such as inheritance and composite styles. As such it doesn't work with NativeWind

[2022-11-26 00:37] #346 closed

[2022-11-26 14:16] steida commented on #308
@marklawlor OK. Thank you for the response and your work.

[2022-11-26 16:09] lewisd1996 opened #347 "TypeError: property is not configurable, js engine: hermes + Invariant Violation: Failed to call into JavaScript module method AppRegistry.runApplication()"
**Describe the bug**
Running `npm start` and then `npm run ios` now results in the following error:
[code]

My app was working fine before installing `nativewind`, however I now have this issue. I have tried uninstalling `nativewind` to get back to where I was before, however the problem persists.

Therefore, this may not be a problem with `nativewind` itself however the installation process has g

[2022-11-26 21:38] marklawlor commented on #347
In RN, you receive that error when there is a runtime crash before your app is registered. Can you please share the original error message.

You may also want to try the `next` branch (see pinned issue) which fixes a number of issues.

[2022-11-27 21:19] madly0894 commented on #308
I am having a problem with the cache. When I start the project, there is such a problem. I set up the project as you wrote above

![Screenshot from 2022-11-28 01-16-56](https://user-images.githubusercontent.com/29377127/204160160-76656083-3feb-470e-9331-b105c37c95f1.png)

[2022-11-27 22:38] marklawlor commented on #308
@madly0894 Try removing the `^` when using pre-release versions you can an ensure you are getting the correct version. Otherwise can you share your repo? That import looks like it's from an older version - not `3.0.0-next.30`

[2022-11-28 06:20] chirag-codealchemy opened #348 "Cannot use import statement outside a module"
tailwind.config.js

/** @type {import('tailwindcss').Config} */

// const nativewind = require("nativewind/tailwind")

module.exports = {
  content: [
    "./App.{js,jsx,ts,tsx}",
    "./pages/**/*.{js,jsx,ts,tsx}",
    "./components/**/*.{js,ts,jsx,tsx}",
  ],
  plugins: [require('nativewind/tailwind/css')],
  // presets: [nativewind],
  important: 'html',
  theme: {
    extend: {},
  },
}

babel

[2022-11-28 09:07] marklawlor commented on #348
This appears to be a Expo or Next.js project using React Native Web. You are getting that error because you have not setup transpilation for your app. Please consult the setup instructions on React Native Web for your choosen platform, as you may need to add NativeWind to your transpilation allow list

[2022-11-28 09:08] #348 closed

[2022-11-28 09:32] chirag-codealchemy commented on #348
some how i slove this error but the style is not working in web
what i change

next.config.js

const { withExpo } = require('@expo/next-adapter')
const withPlugins = require('next-compose-plugins')
const withTM = require('next-transpile-modules')([
    "react-native-web",
    "solito",
    "expo-linking",
    "next-images",
    "next-fonts",
    "nativewind"  < --- add this line
  ])

module.expor

[2022-11-28 09:40] marklawlor commented on #348
Do TailwindCSS styles on a `div` work?

[2022-11-28 11:25] chirag-codealchemy commented on #348
can i share my code

[2022-11-28 11:28] marklawlor commented on #348
Please share the entire repo if you do

[2022-11-28 11:35] madly0894 commented on #308
I removed the '^' and it worked. Thank you!)

[2022-11-28 11:44] chirag-codealchemy commented on #348
https://github.com/chirag-codealchemy/expo-next-main

[2022-11-28 11:51] marklawlor commented on #348
You need to follow the Tailwind CSS setup guide for Next.js https://tailwindcss.com/docs/guides/nextjs and include the required CSS file.

[2022-11-28 11:59] chirag-codealchemy commented on #348
now i complated setup but still not working

[2022-11-28 12:02] marklawlor commented on #348
The current version of NativeWind works better as a monorepo - where configs are not changed between apps. The `next` version #308 makes this setup easier

[2022-11-28 12:03] chirag-codealchemy commented on #348
so i should change version

[2022-11-28 12:05] marklawlor commented on #348
That is entirely up-to-you. I think the `next` version is simpler to use and fixes a lot of things with the current version, but its not finished so it comes with the usual early access disclaimers

[2022-11-28 12:13] chirag-codealchemy commented on #348
i change to next version and getting new problem
TypeError: tokens.join(...).trimStart(...).replace(...).replace(...).replaceAll is not a function
![Screenshot 2022-11-28 at 5 43 01 PM](https://user-images.githubusercontent.com/111970008/204275046-63e86d8f-9dd3-4caf-90a1-57c13b431240.png)

[2022-11-28 12:51] marklawlor commented on #348
`next` requires Node 16+

[2022-11-28 13:00] chirag-codealchemy commented on #348
sir can you help me to setup one expo with next js project with nativewinde integration
like me can you create one demo project and setup netivewind in expo and next js i am newbee and i don't know many thing so please can you help me

[2022-11-28 13:06] marklawlor commented on #348
I unfortunately do not have the capacity. If you are new, you should start a starter project instead of trying to setup from scratch

For example:

`npx create-solito-app@latest my-solito-app -t with-tailwind` which comes from https://solito.dev/tailwind`

There a couple of other projects from the community on Github

[2022-11-29 22:04] steida commented on #308
Variant autocomplete regex not working with wrapped code:

[code]

This is OK:

[code]

[2022-11-30 11:03] ospfranco opened #351 "Text size fails to convert to double"
**Describe the bug**
When using one of the font size classes (text-base for example) in a custom component, I'm getting a runtime error saying "1rem" cannot be casted to a double, followed by an application crash:

![screen](https://user-images.githubusercontent.com/1634213/204779397-01659ff7-d276-472d-bc38-ff84e6e46e97.png)

I'm not able to figure out why it is behaving like this, maybe due a cus

[2022-11-30 11:06] marklawlor commented on #351
Classes using REM units are not available in the current `stable`. If you upgrade to `next` (see pinned issue #308) you can use them.

[2022-11-30 11:06] #351 closed

[2022-11-30 11:28] ospfranco commented on #351
You closed this too fast, I don't care about rem units, just want to set a smaller font size, which in theory does not require `next`

I'm also having problems updating to next, the only example you provided is for expo, but the current configuration I have doesn't seem to be working:

[code]

Any idea what might be wrong?

[2022-11-30 11:37] ospfranco commented on #351
I managed to get metro to work with the following config:

[code]

But now when the app loads the bundle I get a runtime error:

[code]

[2022-11-30 12:05] marklawlor commented on #351
NativeWind overrides your theme `fontSizes` to `px` values, so if `text-base` is giving an rem value then I assumed you had overridden it's value, or were using a plugin that sets it.

If I test `text-base` in a new project, it render correctly without error and the Expo Snacks appear to be working fine.

I would need to see your `tailwind.config.js` to debug

[2022-11-30 12:26] marklawlor commented on #351
@ospfranco What platform are you using iOS/Android/Web/etc?

[2022-11-30 12:41] ospfranco commented on #351
ah, now I understand, yeah, I was using TWRNC which did allow to replace the fontSizes with rem values. After removing the sizes now it works.

I hope the problems I faced with `next` are still useful to you though. Thanks a lot for the help!

[2022-11-30 16:41] SeanRoberts commented on #267
@rubycop Did you ever solve this? I'm running into the same thing, presumably it's configuration related.

[2022-11-30 16:53] nderscore commented on #308
Calling `NativeWindStyleSheet.setVariables({ '--rem': 16 })` on the web runtime:

* Sets an unused variable on the HTML tag with a unitless value (`<html style="--rem: 16">`)
* Throws an error in SSR contexts (such as the root `_app.tsx` of a Next.js app) because `document` doesn't exist (probably `setVariables()` should be a no-op when `document` doesn't exist?)

In web world, I guess it's better

[2022-11-30 17:39] nderscore opened #352 "[NEXT] Babel preset throws when nativewind tailwind preset loaded indirectly"
**Describe the bug**

When the nativewind tailwind preset is loaded indirectly, such as may be the case when using a shared configuration in a monorepo workspace ([like in this example from the create-t3-turbo template](https://github.com/t3-oss/create-t3-turbo/tree/main/packages/config/tailwind)) the babel plugin throws an error:

This is caused by this check to see if the `nativewind` preset is

[2022-11-30 19:09] steida commented on #308
@marklawlor className from styled should accept `false` for conditional styles, WDYT?

[2022-11-30 21:37] nderscore commented on #308
Here's a fix:

[code]

[2022-11-30 23:55] marklawlor commented on #308
@steida I'm open to suggestions, can you share a code example?